// Micro-clearfix mixin.
// See: http://goo.gl/y82qLF
@mixin clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}


// Set typographic settings for icon fonts.
@mixin icomoon {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
