/* Variables */

$susy: (
  container: 960px,
  columns: 12,
  gutters: (24/64.5),
  column-width: 64.5px,
  gutter-position: inside-static,
  global-box-sizing: border-box,
);

$purple: #8f52cc;
$light-gray: #e3e3e3;
$dark-gray: #111;

$body-font: 'CallunaRegular', Georgia, "Times New Roman", Times, serif;
$header-font: 'Patua One', Georgia, "Times New Roman", Times, serif;

$base-spacing: 24px;

$font-size: 24px;
$font-small: 14px;
$unitless-line-height: 1.5;
$header-line-height: 1.2;
$base-line-height: $font-size * $unitless-line-height;
