.container {
  @include span(100%);

  + .container {
    margin-top: ($base-spacing * 2);
  }

  &.-intro {
    margin-top: 4em;

    @media only screen and (max-width: 350px) {
      margin-top: 1em;
    }
  }
}
