---
layout: default
---

<div class="post">
  <h2>{{ page.title }}</h2>
	<h4>{{ post.date | date: "%B %d %Y" }}</h4>
  
  <div class="content">
    {{ content }}
  </div>

  <div class="pagenav">
    {% if page.previous.url %}
      &laquo;&nbsp;<a href="{{ page.previous.url }}" rel="previous" title="{{ page.previous.title }}">{{ page.previous.title }}</a>
    {% endif %}
  
    {% if page.previous.url %}
      {% if page.next.url %}
        |
			{% endif %}
    {% endif %}
    
    {% if page.next.url %}
      <a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a>&nbsp;&raquo;
    {% endif %}
  </div>
</div>